In [12]:
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.style.use('seaborn')

C:\Users\malte\AppData\Local\Temp\ipykernel_21548\977718515.py:5: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  mpl.style.use('seaborn')

In [33]:
%run functions.ipynb

In [31]:
house = read_clean_house(7, 8000000, drop_appliances=True)
processed = thirty_min_steps_and_explicit_time_features(house)
processed

                      Aggregate  hour  day_of_week  month  is_weekend
Time
2013-11-01 22:00:00  275.630996    22            4     11           0
2013-11-01 22:30:00  290.264214    22            4     11           0
2013-11-01 23:00:00  193.560000    23            4     11           0
2013-11-01 23:30:00  212.633333    23            4     11           0
2013-11-02 00:00:00  177.029851     0            5     11           1
...                         ...   ...          ...    ...         ...
2015-07-08 00:00:00  158.757463     0            2      7           0
2015-07-08 00:30:00  136.698885     0            2      7           0
2015-07-08 01:00:00  191.296296     1            2      7           0
2015-07-08 01:30:00  194.222222     1            2      7           0
2015-07-08 02:00:00   98.061224     2            2      7           0

[25823 rows x 5 columns]

In [34]:
processed = encode_cyclical(processed)
processed

,Aggregate,is_weekend,hour_sin,hour_cos,day_of_week_sin,day_of_week_cos,month_sin,month_cos
Time,,,,,,,,
2013-11-01 22:00:00,275.630996,0,-0.500000,0.866025,-0.433884,-0.900969,-0.5,0.866025
2013-11-01 22:30:00,290.264214,0,-0.500000,0.866025,-0.433884,-0.900969,-0.5,0.866025
2013-11-01 23:00:00,193.560000,0,-0.258819,0.965926,-0.433884,-0.900969,-0.5,0.866025
2013-11-01 23:30:00,212.633333,0,-0.258819,0.965926,-0.433884,-0.900969,-0.5,0.866025
2013-11-02 00:00:00,177.029851,1,0.000000,1.000000,-0.974928,-0.222521,-0.5,0.866025
...,...,...,...,...,...,...,...,...
2015-07-08 00:00:00,158.757463,0,0.000000,1.000000,0.974928,-0.222521,-0.5,-0.866025
2015-07-08 00:30:00,136.698885,0,0.000000,1.000000,0.974928,-0.222521,-0.5,-0.866025
2015-07-08 01:00:00,191.296296,0,0.258819,0.965926,0.974928,-0.222521,-0.5,-0.866025
2015-07-08 01:30:00,194.222222,0,0.258819,0.965926,0.974928,-0.222521,-0.5,-0.866025
2015-07-08 02:00:00,98.061224,0,0.500000,0.866025,0.974928,-0.222521,-0.5,-0.866025